html{
    height: 100%;
    margin: 0px;
}
body{
    min-heighT:100%;
    position: relative;
}
.header{
display:grid;
grid-template-columns: 60px 80px 60px 40px ;
box-align: right;
float: right;
grid-template-areas: "gmail imagem apps user";
}
a{
    text-decoration: none;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}
h2{
    position:relative
    Top: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.main{
    position: relative;
    top: 28%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-width: 100%;
    grid-template-rows: 100px 45px 40px 100px;
    grid-template-areas: 
    ". logo ."
    ". searchbar ."
    ". buttons ."
    ". googletext .";
}
.logo{
    grid-area: logo;
    align-self: center;
    justify-self: center;
  
}
.searchbar{
    grid-area: searchbar;
    width: 100%;
    height:30px;
    justify-self: center;
    align-self: center;
    border:solid rgba(0, 0 ,0, 0.14);
    border-radius: 30px;
    
}
.searchbar:hover{
    box-shadow: 2px 2px 4px gray;
}
.searchbar:focus{
    box-shadow: 2px 2px 4px gray;
    border:solid rgba(0, 0 ,0, 0.14);
    border-radius: 30px;
    outline: none;
}
.buttons{
    grid-area: buttons;
    display: flexbox;
    justify-self: center;
}
#googletext{
    grid-area: googletext;
    align-self: flex-start;
}

}
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
#button1{
    font-size: 16px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color:rgb(87, 84, 84);;
}
#button2{
    font-size: 16px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color:rgb(87, 84, 84);
}
#button1:hover{
    font-size: 17px;
    border-radius: 10px;

}
#button1:hover{
    font-size: 17px;
    border-radius: 10px;

}
#button2:hover{
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#70757a;
}
a:hover{
    text-decoration: underline;
}
.anchorException{
    color:blue;
}
.user{
    grid-area: user;
    justify-self: center;
    align-self:center;
}
.imagem{
    grid-area: imagem;
    justify-self: center;
    align-self:center;
}
.gmail{
    grid-area: gmail;
    justify-self: center;
    align-self:center;
}
.apps{
    grid-area: apps;
    justify-self: center;
    align-self:center;
}
.country{
    position: relative;
    top: 39%
}
footer{
    position: relative;
    top: 42%;
    bottom: 0;
    left:0;
    height: 10%x;
    display:grid;
    grid-template-columns: 60px 100px 80px 1fr 90px 60px 60px 60px;
    grid-template-rows: 100px;
    align-self: flex-end;
    align-items: flex-end;
}